h1 {color: rgb(255, 0, 0);
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    transform:rotate();}


    *{background-color: black;}

    a{color: rgb(255, 0, 0);
    font-size: 30px;}

img{width:90%;}